
/user-service/__pycache__
/user-service/adapters/__pycache__
/user-service/application/__pycache__
/user-service/domain/__pycache__
/user-service/infrastructure/__pycache__
/user-service/venv

.idea
/user-service/tests/__pycache__
/frontend/node_modules
/user-service/bin
/user-service/include
/user-service/lib
user-service/lib64
user-service/pyvenv.cfg
/product-service/node_modules
.DS_Store
