services:
  user-service:
    build:
      context: ./user-service
    ports:
      - "5000:5000"
    networks:
      - app-network

  product-service:
    build:
      context: ./product-service
    ports:
      - "4000:4000"
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"  # Vite Dev Server
    volumes:
      - ./frontend:/app  # Bind-Mount f端r den Code
      - /app/node_modules  # Ignoriere lokale `node_modules`
    environment:
      - CHOKIDAR_USEPOLLING=true  # Aktiviert Polling f端r Hot Reload
    command: npm run dev
    networks:
      - app-network

  rabbitmq:
    image: rabbitmq:4.0-management-alpine
    container_name: rabbitmq
    ports:
      - "5672:5672"   # Port f端r AMQP-Protokoll
      - "15672:15672" # Port f端r das RabbitMQ-Management-Dashboard
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

networks:
  app-network:
    driver: bridge
